/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
    
:root{
  --primary-color:     #EE4D8E;
  --secondary-color:   #2C353A;
  --light-color :      #00B5BD;
  --dark-color:        #231F20;
  --extra-light:       #ccc8c4;

  --base-color:        #ffffff;
  --black_color:       #000000;
  --gray-color:        #58595B;
  --offwhite       :   #f6f6f6;
  --section_bg:        #f4f4f4;
  --border_color:      #edeff2;
  --title-color    :   #2a2a2a;

  --font_1 :'Montserrat', sans-serif;   /* //Heading */
}

body{
	margin:0;
	padding: 0;
	color: var(--dark-color);
	font-size: 1rem;
	font-family: var(--font_1);
}

.container { padding: 60px 0; width: 80%; margin:0 auto; }

h1 { font-size: 1.1rem; font-weight: 500; }

p { font-size:  1.024rem; line-height: 1.4; }

.experiment {
  display: inline-block;
  
  border-radius: 50%;
  shape-outside: circle(50% at 0 0);

  --s: 350px;   /* 350px Size of the circle */
  --p: 15px;   /* padding */

  height: var(--s);
  width: var(--s);
  background: var(--secondary-color);
  color: var(--base-color);
  font-size:20px;
  
  text-align: center;
}
  
.experiment i,
.experiment::before {
  content: '';
  float: left;
  height:100%;
  width: 50%;
  shape-outside: radial-gradient(farthest-side at right, transparent calc(100% - var(--p)), #fff 0);
}

.experiment i {
  float: right;
  shape-outside: radial-gradient(farthest-side at left,  transparent calc(100% - var(--p)), #fff 0);
}

/****************************************** SVG *************************************/

/* .experiment > svg:not(:last-child) {
  transform: rotate(180deg);
} */

.inverted-comma {
  display: inline-block;
  height: 35px;
  width: 35px;
  fill: var(--extra-light);
}

#pt-testimonial-a { background: var(--primary-color); }
#pt-testimonial-b { background: var(--secondary-color); }
#pt-testimonial-c { background: var(--light-color); }
/****************************************** Colors *************************************/
.dot {
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: var(--base-color);
  margin: 0 auto;
}

/****************************************** Media Queries *************************************/
@media screen and (max-width: 1330px) {
  .experiment {
    --s: 300px;
  }

  .inverted-comma {
    height: 25px;
    width: 25px;
  }

  p { font-size: 0.8rem; }
}

@media screen and (max-width: 1180px) {
  .experiment {
    --s: 260px;
  }

  .inverted-comma {
    height: 18px;
    width: 18px;
  }

  h1 { font-size: 0.8rem; margin: 8px; }

  p { margin: 0; }
}


@media screen and (max-width: 700px) {
  .experiment {
    --s: 240px;
  }

  p { font-size: 0.7rem; }

  .owl-item { text-align: center; }
}